

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    
  }
  

    

  header {
    background-color: white;
    padding: 30px;

    
    h1 {
        color: #333;
        text-align: center;
      }
    
  }


  
  main {
    text-align: center;
    padding: 40px;
    nav {
        display: flex;
        justify-content: center;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          gap: 20px;
          
          li {
            
            a {
              text-decoration: none;
              background-color: #0056b3;
              color: white;
              padding: 10px 20px;
              border-radius: 10px;
              transition: background-color 0.3s ease;
              width: 150px;
              height: 30px;
              display: inline-block;    
              text-align: center;
             
              
              
              
              &:hover {
                background-color: #003f8a;
              }
            }
          }
        }
      }
  
  
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: #333;
  
  }
  
.data-msg {

    background-color: rgb(255, 47, 54);
  }

  